/* Base Style */
body {
    font-family: "Montserrat", sans-serif;
    color: #111;
    background-color: #FAFAFA;
}

ul,
ol {
    list-style-type: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

button {
    font-family: inherit;
    color: currentColor;
    cursor: pointer;
}

/* Defolt Values */
/* color:  black;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 16px;


/* Header section */
.header {}

.header-nav {}

.header-logo {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: -0.03em;
}

.header-nav-logo-italic {
    font-style: italic;
}

.header-logo-img {}

.header-nav-list {}

.header-nav-list-item {}

.header-link {

    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.02em;
}

.header-link:hover,
.header-link:active {
    color: #FD9222;
}

.header-socials {}

.socials-list {}

.socials-link {}

.socials-link:hover,
.socials-link:active {
    color: #FD9222;
}

.socials-img {}

/* Hero section */

.hero {
    background-color: rgba(17, 17, 17, 0.70);
}

.hero-tittle {
    color: #FFF;

    font-size: 28px;

    font-weight: 500;
    line-height: 1.21;

    letter-spacing: -0.03em;
}

.hero-list {}

.hero-item {}

.hero-btn {
    background-color: #FD9222;
    color: #FFF;

    font-size: 14px;

    font-weight: 600;

}

.hero-scroll {
    color: #FFF;

    font-size: 14px;

    font-weight: 500;
    line-height: 12.9;

    letter-spacing: -0.03em;
}

/* Feauters section */
.feaut {
    background-color: #1E1823;

}

.feaut-tittle {}

.feaut-list {}

.feaut-item {}

.feaut-subtittle {
    color: var(--white, #FFF);

    font-size: 18px;

    font-weight: 600;
    line-height: 12.2;

}

.feaut-p {
    color: rgba(255, 255, 255, 0.70);

    font-size: 14px;

    font-weight: 400;
    line-height: 12.9;
    letter-spacing: -0.02em;
}

/* Ingradients */
.ingrad {
    background-color: #FAFAFA;

}

.ingrad-tittle {}

.ingrad-list {}

.ingrad-item {}

.ingrad-img {}

.ingrad-p {}

/* Made */
.made {
    background-color: #FAFAFA;

}

.made-tittle {}

.made-img {}

.made-subtittle {}

.made-list {}

.made-item {}

/* Our Products */
.product {
    background-color: #FAFAFA;

}

.product-tittle {}

.product-list {}

.product-item {}

.product-img {}

.product-subtittle {}

.product-p {}

.product-price {}

/* Top sellers */
.top {
    background-color: #FAFAFA;
}

.top-tittle {}

.top-list {}

.top-item {}

.top-img {}

.top-p {}

/* Reviews */
.review {
    background-color: #FAFAFA;
}

.review-tittle {}

.review-list {}

.review-item {}

.review-img {}

.review-subtittle {}

.review-p {}

.review-btn {}


/* Footer */
.footer {
    background-color: #1E1823;
}

.footer-list {}

.footer-social-item {}

.footer-social-link {}

.footer-social-img {}